# R project-related files and folders
.Rproj.user
.Rhistory
.RData
.Ruserdata
.trees
*.vcf
*.vcf.gz
*.npz

# Exclude Results folder
Results/
Images/
1000genomes/
argweaver/

# Exclude Python virtual environments
venv/
venv-lct/
.venv/
__pycache__/
.ipynb_checkpoints/

## Exclude Conda Environment
sweep312/

## Exclude Slim Result Files
SliM/trees/
SliM/trees_newick/
SliM/outs/
SliM/checkpoints/
SliM/slimfiles/
SliM/etas/

README.md